body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #232526;
  font-weight: 500;
}

.juego {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "inicio     inicio     inicio"
    "contenedor contenedor contenedor"
    "sms        sms        sms"
    "puntos1    nada       puntos2"
    "repetir    repetir    repetir"
    "final      final      final";
}

.juego__sms {
  grid-area: sms;
  text-align: center;

  margin-block-start: 0;
  margin-block-end: 0;
}

.boton-incio {
  grid-area: inicio;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.boton {
  border: none;
  outline: none;
  background: none;
  padding: 4px;
  border: 3.5px solid #232526;
  color: #232526;
  transition: 0.5s;
  font-weight: 500;
}

.boton:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 2px 2px 5px #3334;
  background-color: #232526;
  color: #fff;
}

.juego__contenedor {
  grid-area: contenedor;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 20em;
  height: 20em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "uno    dos   tres"
    "cuatro cinco seis"
    "siete  ocho  nueve";
}

/*botones de el tres en uno*/
.juego__boton {
  border: none;
  outline: none;
  background: none;
  padding: 2px;
}

.boton-siguiente-ronda {
  grid-area: repetir;
}

.juego__boton1 {
  grid-area: uno;
  border-right: 3px solid #232526;
  border-bottom: 3px solid #232526;
}

.juego__boton2 {
  grid-area: dos;
  border-left: 3px solid #232526;
  border-bottom: 3px solid #232526;
  border-right: 3px solid #232526;
}

.juego__boton3 {
  grid-area: tres;
  border-left: 3px solid #232526;
  border-bottom: 3px solid #232526;
}

.juego__boton4 {
  grid-area: cuatro;
  border-top: 3px solid #232526;
  border-bottom: 3px solid #232526;
  border-right: 3px solid #232526;
}

.juego__boton5 {
  grid-area: cinco;
  border: 3px solid #232526;
}

.juego__boton6 {
  grid-area: seis;
  border-top: 3px solid #232526;
  border-left: 3px solid #232526;
  border-bottom: 3px solid #232526;
}

.juego__boton7 {
  grid-area: siete;
  border-top: 3px solid #232526;
  border-right: 3px solid #232526;
}

.juego__boton8 {
  grid-area: ocho;
  border-left: 3px solid #232526;
  border-top: 3px solid #232526;
  border-right: 3px solid #232526;
}

.juego__boton9 {
  grid-area: nueve;
  border-left: 3px solid #232526;
  border-top: 3px solid #232526;
}

/*Aqui van los estilos de los botones de el tres en uno
cuando el jugador le haga click*/
.juego__o {
  position: relative;
}

.juego__o::after {
  content: " ";
  width: 4.5em;
  height: 4.5em;
  top: 0.6em;
  left: 0.6em;
  position: absolute;
  border: 7px solid #ec2f4b;
  border-radius: 50%;
}

.juego__x {
  position: relative;
}

.juego__x::after {
  content: " ";
  width: 100px;
  height: 5px;
  border-radius: 2.5px;
  left: 3px;
  transform: rotate(45deg);
  background-color: #009fff;
  position: absolute;
}

.juego__x::before {
  content: " ";
  width: 100px;
  height: 5px;
  border-radius: 2.5px;
  left: 3px;
  transform: rotate(-45deg);
  background-color: #009fff;
  position: absolute;
}
/*Puntaje de los jugadores*/
.juego__puntaje-jugador1 {
  grid-area: puntos1;
  width: 90px;
  height: 80px;
  margin-left: auto;
}

.juego__puntaje-jugador2 {
  grid-area: puntos2;
  width: 90px;
  height: 80px;
  margin-right: auto;
}

.juego__jugador1,
.juego__jugador2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 18px;
}

.jugador__puntos1,
.jugador__puntos2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

/*botones de final de partida y reinicio*/
.boton-siguiente-ronda {
  grid-area: repetir;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.boton-finalizar {
  grid-area: final;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.none {
  display: none;
}

@media screen and (max-width: 338px) {
  .juego__contenedor {
    width: 15rem;
    height: 15rem;
  }

  .juego__o::after {
    width: 3.6em;
    height: 3.6em;
    top: 0.2em;
    left: 0.2em;
    border: 5px solid yellowgreen;
  }

  .juego__x {
    position: relative;
  }

  .juego__x::after {
    width: 75px;
    height: 5px;
    left: 0px;
  }

  .juego__x::before {
    width: 75px;
    height: 5px;
    left: 0px;
  }
}

@media screen and (max-width: 257px) {
  .juego__contenedor {
    width: 12rem;
    height: 12rem;
  }

  .juego__o::after {
    width: 2.8em;
    height: 2.8em;
    top: 0.25em;
    left: 0.25em;
    border: 4px solid yellowgreen;
  }

  .juego__x::after {
    width: 60px;
    height: 5px;
    left: 0px;
  }

  .juego__x::before {
    width: 60px;
    height: 5px;
    left: 0px;
  }
}
