h2,
h3,
h4,
h5,
h6 {
  background: #232526;
  background-image: linear-gradient(to right, #232526, #414345);

  display: inline;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  background-image: linear-gradient(to right, #23252669, #41434569),
    url(header.jpg);
  background-size: cover;
  background-position: center;
}

.ola {
  position: absolute;
  bottom: 0;
}

.titulo {
  position: relative;
  color: #fff;
}
